/* Write your custom CSS here */
.dataTables_scrollBody thead tr[role="row"]{
    visibility: collapse !important;
}

@font-face {
    font-family: 'ooredooheavy';
    src: url('../font/ooredoo-heavy-webfont.woff2') format('woff2'),
         url('../font/ooredoo-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.dashboard-stat p{
    font-size: 19px;
    line-height: 32px;
    margin-bottom: 0;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.score p{
    color: #ffc000;
}

.navbar-right .navbar-nav{
    margin-left: auto;
    margin-right: 28px;
}

.dashboard-stat span {
    font-size: 13px;
    margin-top: 3px;
}